*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #1ae0ee;
}
.main{
    text-align: center;
    height: 500px;
}
.counter-min{
    width: 200px;
    height: 50px;
    margin: 30px;
   background-color: #297f87a9;
   border: cadetblue;
   font-size: 40px;
   border-radius: 20px;
   
}
.counter-plus{
    width: 200px;
    height: 50px;
    margin: 30px;
    border: cadetblue;
    background-color:#297f87a9 ;
    font-size: 40px;
    border-radius: 20px;
    
}
.counter-plus:hover
{
    background-color: #11757ed7;
    transition: 0.4s;
}
.counter-min:hover{
    background-color: #11757ed7;
    transition: 0.4s;
}

.counter-display{
    font-size: 100px;
    
}